body {
  text-align: center;
  background: #f4f4f4;
  padding: 1.25rem;
  width: 25rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

/* 
/* ########################################
/* # Headers                              #
/* ########################################
*/

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #2c3e50;
}

h1 {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 img {
  width: 1.563rem;
  height: auto;
}

h2 {
  font-size: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.625rem;
}

h3 {
  font-size: 0.875rem;
  font-style: italic;
  font-weight: normal;
}

/* 
/* ########################################
/* # Boxes                                #
/* ########################################
*/

.current-tab-section,
.whitelist-section {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0.625rem;
  padding: 1.25em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.current-tab-section {
  margin-bottom: 20px;
}

.current-tab-section #currentDomainInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
}

/* 
/* ########################################
/* # Buttons                              #
/* ########################################
*/

button {
  border: none;
  border-radius: 0.625rem;
  transition: background 0.3s ease;
  padding: 0.625rem;
  cursor: pointer;
  color: #fff;
}

button.add-btn {
  background: #45a049;
}

button.add-btn:hover {
  background: #218838;
}

button.remove-btn {
  background: #dc3545;
}

button.remove-btn:hover {
  background: #c82333;
}

button.remove-all-btn {
  background: #f44336;
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.625rem;
  margin-left: 0;
  font-size: 0.875rem;
}

button.remove-all-btn:hover {
  background: #c82333;
}

button.remove-item-btn {
  background: #ffc107;
  color: #333;
  padding: 0.5rem;
  margin-left: 0.625rem;
  font-size: 0.875rem;
}

button.remove-item-btn:hover {
  background: #c82333;
  color: #fff;
}

/* 
/* ########################################
/* # Lists                                #
/* ########################################
*/

.whitelist-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 9.375rem;
  overflow-y: auto;
  border: 1px solid #eee;
  border-radius: 0.625rem;
  background-color: #f9f9f9;
  scrollbar-width: none;
}

.whitelist-section li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.625rem;
  border-bottom: 1px solid #eee;
  font-size: 0.875rem;
  color: #444;
}

.whitelist-section li:last-child {
  border-bottom: none;
}
